@using Inventory_Management_System.Entities
@model Inventory_Management_System.Entities.Order


@{
    ViewData["Title"] = "Create Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Order</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OrderDate" class="form-label"></label>
        <input asp-for="OrderDate" class="form-control" type="date" />
    </div>
    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <input asp-for="Status" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TotalAmount" class="form-label"></label>
        <input asp-for="TotalAmount" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
