@{
    ViewData["Title"] = "Shipments";
}

<h1 class="h3 mb-3">Shipments</h1>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Shipment ID</th>
                    <th>Date</th>
                    <th>Carrier</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#SHP-1001</td>
                    <td>April 10, 2025</td>
                    <td>DHL</td>
                    <td><span class="badge bg-success">Delivered</span></td>
                </tr>
                <tr>
                    <td>#SHP-1002</td>
                    <td>April 12, 2025</td>
                    <td>FedEx</td>
                    <td><span class="badge bg-info">In Transit</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
