@model Inventory_Management_System.Models.DTOs.UserDto.LoginReqDto

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="auth-card bg-white p-4 rounded-4 shadow-sm animate__animated animate__fadeIn" style="max-width: 400px; width: 100%; box-shadow: 0 0 25px rgba(0,0,0,0.2);">


        <div class="text-center mb-4">

            <img src="~/assets/img/logo/logo-transparent (2).png" asp-append-version="true" alt="Logo" class="mb-3" style="max-width: 320px;">

        </div>
        <div class="mb-4">
            <h3 class="text-start" style="color: #6c707de6; font-size: 1.5rem; font-weight: 600; margin-bottom: 0.5rem;">
                Sign In
            </h3>
            <hr style="border: none; height: 1px; background-color: #939ead; margin-top: 0; margin-bottom: 1.5rem;">
        </div>

          @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger fw-bold text-start small mb-3">
                @Html.ValidationSummary(false)
            </div>

        }


        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <input asp-for="UserName" class="form-control rounded-3" placeholder="Enter username" />
                <span asp-validation-for="UserName" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control rounded-3" placeholder="Enter password" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-custom w-100 fw-semibold py-2 rounded-3">
                <i class="fas fa-sign-in-alt me-2"></i> Sign In
            </button>

        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        body {
            background: linear-gradient(180deg, #f5f7fb 0%, #e9ecf3 100%) !important;
        }

        .auth-card {
            background: #fff;
            border-radius: 0.75rem;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
        }

        .btn-custom {
            background-color: #525b6b;
            color: white;
            transition: background-color 0.3s ease;
        }

            .btn-custom:hover {
                background-color: #656f81; 
            }

    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
